# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/.idea.GeometryFigures.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
